<div class="max-w-2xl mx-auto px-4 mt-2">
  <article class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
    <footer class="flex justify-between items-center mb-2">
      <div class="flex items-center">
        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><%= reply.user.email %></p>
        <p class="text-sm text-gray-600 dark:text-gray-400"><time><%= reply.created_at.strftime('%Y-%m-%d %H:%M') %></time></p>
      </div>
    </footer>
    <p class="text-gray-500 dark:text-gray-400"><%= reply.message %></p>
  </article>
</div>